h1
{
    color: rgb(22, 234, 18);

}

.teste
{
    font-family: cursive;
}

 #teste
{
    font-size: large;
} 

#idum
{
    background: blue;
}
#idDois
{
    background: yellow;
}
#idTres
{
    background: green;
}
#idQuatro
{
    background: orange;
}