body{
    background-color: aquamarine;

}
table h2{
    color: orange;
}

#proximoParagrafo + p{
    font-size: 1.5em;
}

div > p{
    background-color: blue;
}

#div2 ~ p{
    background-color: green;
}

h3:hover{
    color: blue;
}

h5::first-letter{font-size: 4em;}

tr:nth-child(even){
    background-color: orange;
    color: black;
}
tr:nth-child(odd){
    background-color: blue;
    color: white;
}